
  <div class="row clearfix">
    <% if email.read? %>
      <div class="read">
        <%= link_to read_email_path(email, email.id), method: :patch do%>
          <i title="Mark unread" style="opacity: 0.4;" class="fa fa-plus"></i>
        <%end%>
      </div>
    
      <div class="email">
        <p style="opacity: 0.4;"><strike><%= link_to email, remote: true do%><%=email.object%><%end%></strike></p>
      </div>

      <div class="trash">
        <%= link_to email, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true do%>
          <i title="Delete" class="fa fa-trash"></i>
        <%end%>
        </div>
    <% else %>
      <div class="read">
        <%= link_to read_email_path(email, email.id), method: :patch do%>
          <i title="Mark read" class="fa fa-plus"></i>
        <%end%>
      </div>
    
      <div class="email">
        <p><%= link_to email, remote:true do%><%=email.object%><%end%></p>
      </div>

      <div class="trash">
        <%= link_to email, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true do%>
          <i title="Delete" class="fa fa-trash"></i>
        <%end%>
      </div>
    <% end %>
  </div>
